
text
{
    font-size: 32pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

ol
{
    font-size: 20pt;
    color: rgb(11,60,160);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li bdi
{
    color: rgb(212,140,7);
}

.div2 img
{
    padding-top: 15px;
    float: right;
    width: 560px;
    height: 450px;
}

#div1 bdi
{
    font-size: 150px;
    float: left;
}

#div1 img
{
    float: left;
}

